.THIS .slds-progress-bar__value {
    background : #fad400 !important;
}
/* .THIS .slds-grid {
    background-color: Black;
  }
  .THIS .slds-box {
    background-color: Black;
  }
  .THIS .slds-align_absolute-center {
    background-color: Black;
  }
  .THIS .slds-red-background {
    background-color: Black;
  } */