.THIS .slds-tabs_default__item slds-is-active{
        box-shadow: inset 0px 0px 3px 0px rgb(22, 50, 92);
}
.THIS .productNameTruncate{
    padding-left:4.75rem;
    padding-right:3.75rem;
    overflow:hidden;
    text-overflow:ellipsis;
    /* white-space:nowrap; */
}
/*.THIS .Result{
    background-color:#1b3563;
}*/
.THIS .backgroundBox{
    background: beige;
}
.THIS .pageNoBtn{
    margin-left: 1rem;
    margin-right: 1rem;
}