.THIS.star-ratings {
    unicode-bidi: bidi-override;
    color: grey;
    font-size: 14px;
    /*height: 14px;
    width: 58px;*/
    margin: 0;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.THIS .star-ratings-top {
    color: #F7D215;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.THIS.star-ratings-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}