.THIS {
}
.THIS .slds-button_icon-bare{
    display: none;
}/*
.THIS.slds-box{
    background-color: whitesmoke;
}
.THIS .slds-card__header{
        background-color: whitesmoke;
}
.THIS .slds-card__body{
        background-color: whitesmoke;
}

.THIS .slds-tabs_default__overflow-button{
     background-color: whitesmoke;
}*/